<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave1</name>
  <description>slave node for aws jenkins</description>
  <remoteFS>/home/jenkins-slave1</remoteFS>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.33.0">
    <host>172.31.93.202</host>
    <port>22</port>
    <credentialsId>ac2dc932-dd4b-4ae3-aee3-0322efd7bbb1</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>slave</label>
  <nodeProperties/>
</slave>